@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.container-fluid {
  padding: 0;
}

.nav {
  font-family: 'Poppins', sans-serif !important;
  position: sticky !important;
  top: 0;
}

.introduce {
  max-width: 750px;
}

.card {
  margin: 0 auto;
}

.nav-link {
  color: bisque;
}
.nav-link:hover {
  color: white;
}

.size-20 {
  font-size: 20px;
}

.peng {
  border-radius: 10%;
  margin: 0 auto;
  display: block;
}

body {
  background-color: floralwhite;
}
